@model GameDB.Domain.DomainClasses.GameEdit
@{
    ViewData["Title"] = "EditGame";
}

<h1>Edit @Model.game.Title</h1>

@using (Html.BeginForm("EditGame", "Game", FormMethod.Post))
{
    <div>
        <input asp-for="game.Id" type="text" style="display: none;" />
            <div class="form-group">
                <label asp-for="game.Title">Title</label>
                <input asp-for="game.Title" placeholder="@Model.game.Title" class="form-control" type="text" required />
            </div>
            <div class="form-group" style="margin-top: 1%;">
                <label asp-for="game.Description">Description</label>
                <textarea asp-for="game.Description" class="form-control" required>@Model.game.Description</textarea>
            </div>
            <div class="form-group" style="margin-top: 1%;">
                <label asp-for="game.Publishers_id">Publisher</label>
                <select asp-for="game.Publishers_id" class="form-group">
                    @foreach (var publishers in Model.Publishers)
                    {
                        if (publishers.Name != "unknown")
                        {
                            <option value="@publishers.Id">@publishers.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group" style="margin-top: 1%;">
                <label asp-for="game.Age_ratings_id">Age Rating</label>
                <select asp-for="game.Age_ratings_id" class="form-group">
                    @foreach (var ages in Model.AgeRatings)
                    {
                        if (ages.Age_rating != "unknown")
                        {
                            <option value="@ages.Id">@ages.Age_rating</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="game.Release_date">Release Date</label>
                <input asp-for="game.Release_date" placeholder="@Model.game.Release_date" class="form-control" type="text" required />
            </div>
            <div class="form-group" style="margin-top: 1%;">
                <div>
                    <label class="form-check-label">Genres</label>
                </div>

                @foreach (var genreList in Model.Genres)
                {
                    if (genreList.genre.Name != "unknown")
                    {
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" name="genreCheck" value="@genreList.genre.Id" id="Box+@genreList.genre..Id" />
                            <label for="Box+@genreList.genre.Id" class="form-check-label">@genreList.Name</label>
                        </div>
                    }
                }
            </div>            
        <input type="submit" class="btn btn-primary" value="Edit Game" />
    </div>
}
<div style="margin-top:2%">
    <a class="btn btn-info" href='javascript:history.go(-1)'>Cancel</a>
</div>
<div style="margin-top:2%">
    <a class="btn btn-danger" href='@Url.Action("DeleteGame", "Game", new { GameID = Model.game.Id})'>Delete Game</a>
</div>