@using System.Security.Claims; 
@model GameDB.Domain.DomainClasses.Game
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <input type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("EditGame", "Game", new { GameID = Model.Id})'" value="Edit Game"/>
    <h1>@Model.Title</h1>
    <div class="row">
        <div>
            <img src="" alt="Pic Here Lol" class="col-sm-4"/>
        </div>
        <div class="container col-sm-4">
            <div class="row">
                <h6>Release Date</h6>
                <p>@Model.Release_date</p>
            </div>
            <div class="row">
                <h6>Publisher</h6>
                @if (Model.Publisher == null)
                {
                    <p>No Publisher Info</p>
                }
                else
                {
                    <p>@Model.Publisher.Name</p>
                }
            </div>
            <div class="row">
                <h6>Genres</h6>
                @if (Model.Game_genre != null)
                {
                    foreach (var genre in Model.Game_genre)
                    {
                        <p>@genre.Name</p>
                    }
                }
            </div>
            <div class="row">
                <h6>Rating</h6>
                @if (Model.User_Ratings != null)
                {
                    <p>@ViewBag.rateMath/10</p>
                }
                else
                {
                    <p>0/10</p>
                    @using (Html.BeginForm("AddUserRating", "Game", FormMethod.Post))
                    {
                        <select name="UserRating">
                            <option value="0" selected>Add Rating</option>
                            <option value="1">1 - Horrible</option>
                            <option value="2">2 - Not Recommended</option>
                            <option value="3">3 - Bad</option>
                            <option value="4">4 - Below Average</option>
                            <option value="5">5 - Average</option>
                            <option value="6">6 - Above Average</option>
                            <option value="7">7 - Good Game</option>
                            <option value="8">8 - Very Good</option>
                            <option value="9">9 - Must Play</option>
                            <option value="10">10 - Masterpiece</option>
                        </select>
                        <input type="submit" value="Submit Rating" />
                    }
                }
            </div>
        </div>
        <div class="container col-sm-4">
            <input type="button" class="btn btn-secondary" onclick="location.href = '@Url.Action("AddToLibrary", "Game", new { GameID = Model.Id})'" value="Add Game" />
        </div>
    </div>
    <div class="row">
        <h3>Description</h3>
        <p>@Model.Description</p>
    </div>
    <div class="row">
        <div class="container">
            <h5>Comments</h5>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="form-group row">
                    <textarea id="commentSection" placeholder="Post Comments" class="form-control"></textarea>
                    <input type="submit" value="Post Comment" id="postComment" />
                </div>
            }
            else
            {
                <div class="form-group row">
                    <textarea id="commentSection" placeholder="Post Comments" class="form-control" disabled></textarea>
                    <input type="submit" value="Post Comment" id="postComment" disabled/>
                </div>
            }


            <div class="row" style="margin-top: 1%">
                <div class="container">
                    @if (Model.Comments != null)
                    {
                        @foreach (var comment in Model.Comments)
                        {
                    <div class="card row">
                        <div class="card-header">
                            @comment.users_id
                        </div>
                        <div class="card-body">
                            <p>@comment.Comments</p>
                        </div>
                        @if (int.Parse(Context.User.Claims.FirstOrDefault(r => r.Type == ClaimTypes.NameIdentifier).Value) == comment.users_id)
                        {
                            <div class="card-footer">
                                <button id="comment+@comment.Id" class="btn btn-danger">Delete Comment</button>
                            </div>
                        }

                    </div>
                        }
                    }
                    else
                    {
                        <p>No Comments</p>
                    }
                </div>

            </div>
        </div>


    </div>
</div>
@section Scripts
{
    <script>
        document.getElementById("postComment").addEventListener("click", function () {
            console.log(document.getElementById("commentSection").value);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PostComment", "Game")',
                data:
                {
                    comment: document.getElementById("commentSection").value,
                    game: @Model.Id 
                },
                success: function (out) {
                    if (out)
                    {
                        location.reload();
                    }
                }
            });
        })
    </script>
}

