@model GameDB.Domain.DomainClasses.User
@{
    ViewData["Title"] = "UserIndex";
}

<h1>@Model.Name</h1>
<div class="container">
    <input type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("EditUser", "User", new { UserID = Model.Id })'" value="Edit User" />
    <div class="row">
        <div class="col-sm-8">
            Memes
        </div>
        <div class="col-sm-4">
            <h6>Creation Date</h6>
            <p>@Model.Created_At.DateTime.ToString("dd-MM-yyyy")</p>
        </div>
    </div>
    <div class="row">
        <h2>Game Library</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Publisher</th>
                    <th>User Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var games in Model.Games)
                {
                    <tr>
                        <th>@games.Title</th>
                        <td>@games.Release_date</td>
                        <td>@games.Publisher</td>
                        <td>@games.User_Ratings/5</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
