@model GameDB.Domain.DomainClasses.Search
@{
    ViewData["Title"] = "Index";
}

<div class="container">
        <div class="row">
            @using (Html.BeginForm("SearchIndex", "Search", FormMethod.Get))
            {
                <div class="form-group">
                    <label for="searchInput">Search</label>
                    <div id="inputDiv">
                        <input type="text" name="searchInput" id="searchInput" class="form-control" />
                    </div>
                    <div id="publisherDiv" style="display:none;">
                        <select name="searchInput" class="form-select" id="pubInput" disabled>
                            @foreach(var publisher in Model.Publishers)
                            {
                                <option value="@publisher.Id">@publisher.Name</option>
                            }
                        </select>
                    </div>
                    <div id="ageDiv" style="display:none;">
                        <select name="searchInput" class="form-select" id="ageInput" disabled>
                            @foreach (var age in Model.AgeRatings)
                            {
                                <option value="@age.Id">@age.Age_rating</option>
                            }
                        </select>
                    </div>
                    <div id="genreDiv" style="display:none;">
                        <select name="searchInput" class="form-select" id="genreInput" disabled>
                            @foreach (var genres in Model.Genres)
                            {
                                <option value="@genres.Id">@genres.Name</option>
                            }
                        </select>
                    </div>
                    <select name="searchType" class="form-select" id="selectFunction">
                        <option selected value="gameTitles">Titles</option>
                        <option value="gamePublishers">Publishers</option>
                        <option value="ageRating">Age Rating</option>
                        <option value="releaseDate">Release Date</option>
                        <option value="genre">Genres</option>
                        <option value="usernames">Users</option>
                    </select>
                    <input type="submit" value="Search" />
                </div>
            }
        </div>
        <div class="row">
            @switch (ViewBag.Table)
            {
                case "GameTable":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Publisher</th>
                                <th scope="col">Release Date</th>
                                <th scope="col">Age Rating</th>
                                <th scope="col">Genres</th>
                                <th scope="col">Add Game</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                            <tr>
                                <th class="col-2" scope="row">@item.Id</th>
                                @if (item.Description == "" || item.Description == null || item.Description == "No Description")
                                {
                                    <td class="col-1"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})" style="color: red">@item.Title</a></td>
                                    <td class="col-1">Details are missing</td>
                                    <td class="col-1">No Publisher</td>
                                    <td class="col-1">No Release Date</td>
                                    <td class="col-1">No Age Rating</td>
                                    <td class="col-1">No Genres</td>
                                }
                                else
                                {
                                    <td class="col-1"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})">@item.Title</a></td>
                                    <td class="col-1">@item.Description</td>
                                    <td class="col-1">@item.Publisher.Name</td>
                                    <td class="col-1">@item.Release_date</td>
                                    <td class="col-1">@item.Age_rating.Age_rating</td>
                                    <td class="col-1">
                                        @foreach (var genres in item.Game_genre)
                                        {
                                            if (genres.genre.Name != "unknown")
                                            {
                                                @(genres.genre.Name + ", ");
                                            }
                                        }
                                    </td>
                                }
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <td class="col-4"><button class="btn btn-secondary addButton" id="button+@item.Id">Add to game list</button></td>
                                }

                            </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "UserTable":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <th class="col-2" scope="row">@user.Id</th>
                                    <td class="col-2"><a href="@Url.Action("UserIndex", "User", new { UserID = user.Id})">@user.Name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    break;
            }
        </div>
</div>
@section Scripts
{
    <script>
        var input = document.getElementById("inputDiv");
        var publisher = document.getElementById("publisherDiv");
        var age = document.getElementById("ageDiv");
        var genre = document.getElementById("genreDiv");

        document.getElementById("selectFunction").addEventListener("change", function () {
            switch (document.getElementById("selectFunction").value) {
                case "gameTitles":
                    input.style.display = "block";
                    publisher.style.display = "none";
                    age.style.display = "none";
                    genre.style.display = "none";

                    document.getElementById("searchInput").disabled = false;
                    document.getElementById("pubInput").disabled = true;
                    document.getElementById("ageInput").disabled = true;
                    document.getElementById("genreInput").disabled = true;
                    break;
                case "gamePublishers":
                    input.style.display = "none";
                    publisher.style.display = "block";
                    age.style.display = "none";
                    genre.style.display = "none";

                    document.getElementById("searchInput").disabled = true;
                    document.getElementById("pubInput").disabled = false;
                    document.getElementById("ageInput").disabled = true;
                    document.getElementById("genreInput").disabled = true;
                    break;
                case "ageRating":
                    input.style.display = "none";
                    publisher.style.display = "none";
                    age.style.display = "block";
                    genre.style.display = "none";

                    document.getElementById("searchInput").disabled = true;
                    document.getElementById("pubInput").disabled = true;
                    document.getElementById("ageInput").disabled = false;
                    document.getElementById("genreInput").disabled = true;
                    break;
                case "genre":
                    input.style.display = "none";
                    publisher.style.display = "none";
                    age.style.display = "none";
                    genre.style.display = "block";

                    document.getElementById("searchInput").disabled = true;
                    document.getElementById("pubInput").disabled = true;
                    document.getElementById("ageInput").disabled = true;
                    document.getElementById("genreInput").disabled = false;
                    break;
                case "usernames":
                    input.style.display = "block";
                    publisher.style.display = "none";
                    age.style.display = "none";
                    genre.style.display = "none";

                    document.getElementById("searchInput").disabled = false;
                    document.getElementById("pubInput").disabled = true;
                    document.getElementById("ageDiv").disabled = true;
                    document.getElementById("genreInput").disabled = true;
                    break;
            }
        })
    </script>
    <script>
        var buttonClass = document.getElementsByClassName("addButton");
        for (var i = 0; i < buttonClass.length; i++) {
            buttonClass[i].addEventListener("click", function () {
                var itemId = this.id.split("+")[1];

                $.ajax({
                    type: 'POST',
                    url: '/Search/AddToGameList',
                    data: { gameId: itemId },
                    success: function (out) {
                        if (out) {
                            alert("Added game to library");
                            location.reload();
                        }
                        else {
                            alert("Could not add game to library");
                        }
                    }
                });
            })
        }
    </script>
}