@model GameDB.Domain.DomainClasses.Search
@{
    ViewData["Title"] = "Index";
}

<div class="container">
        <div class="row">
            @using (Html.BeginForm("SearchIndex", "Search", FormMethod.Get))
            {
                <div class="form-group">
                    <label for="searchInput">Search</label>
                    <input type="text" name="searchInput" id="searchInput" class="form-control"/>
                    <select name="searchType" class="form-select">
                        <option selected value="gameTitles">Titles</option>
                        <option value="gamePublishers">Publishers</option>
                        <option value="ageRating">Age Rating</option>
                        <option value="releaseDate">Release Date</option>
                        <option value="usernames">Users</option>
                    </select>
                    <input type="submit" value="Search" />
                </div>
            }
        </div>
        <div class="row">
            @switch (ViewBag.Table)
            {
                case "GameTable":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                                <tr>
                                    <th class="col-2" scope="row">@item.Id</th>
                                    @if (item.Description == "" || item.Description == null || item.Description == "No Description")
                                    {
                                        <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})" style="color: red">@item.Title</a></td>
                                        <td class="col-2">Details are missing</td>
                                    }
                                    else
                                    {
                                        <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})">@item.Title</a></td>
                                        <td class="col-2">@item.Description</td>
                                    }
                                    <td class="col-2"><button class="btn btn-secondary addButton" id="button+@item.Id">Add to game list</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "UserTable":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <th class="col-2" scope="row">@user.Id</th>
                                    <td class="col-2"><a href="@Url.Action("UserIndex", "User", new { UserID = user.Id})">@user.Name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "PubTable":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                            <tr>
                                <th class="col-2" scope="row">@item.Id</th>
                                @if (item.Description == "" || item.Description == null || item.Description == "No Description")
                                {
                                    <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})" style="color: red">@item.Title</a></td>
                                    <td class="col-2">Details are missing</td>
                                }
                                else
                                {
                                    <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})">@item.Title</a></td>
                                    <td class="col-2">@item.Description</td>
                                    <td class="col-2">@item.Publisher.Name</td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "Ages":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                                <tr>
                                    <th class="col-2" scope="row">@item.Id</th>
                                    @if (item.Description == "" || item.Description == null || item.Description == "No Description")
                                    {
                                        <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})" style="color: red">@item.Title</a></td>
                                        <td class="col-2">Details are missing</td>
                                    }
                                    else
                                    {
                                        <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})">@item.Title</a></td>
                                        <td class="col-2">@item.Description</td>
                                        <td class="col-2">@item.Age_rating.Age_rating</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    break;
                case "Release":
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Games)
                            {
                            <tr>
                                <th class="col-2" scope="row">@item.Id</th>
                                @if (item.Description == "" || item.Description == null || item.Description == "No Description")
                                {
                                    <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})" style="color: red">@item.Title</a></td>
                                    <td class="col-2">Details are missing</td>
                                }
                                else
                                {
                                    <td class="col-2"><a href="@Url.Action("GameIndex", "Game", new { GameID = item.Id})">@item.Title</a></td>
                                    <td class="col-2">@item.Description</td>
                                    <td class="col-2">@item.Release_date</td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    break;
            }
        </div>
</div>
@section Scripts
{
    <script>
        var buttonClass = document.getElementsByClassName("addButton");
        for (var i = 0; i < buttonClass.length; i++) {
            buttonClass[i].addEventListener("click", function () {
                var itemId = this.id.split("+")[1];

                $.ajax({
                    type: 'POST',
                    url: '/Search/AddToGameList',
                    data: { gameId: itemId },
                    success: function (out) {
                        if (out) {
                            alert("Added game to library");
                            location.reload();
                        }
                        else {
                            alert("Could not add game to library");
                        }
                    }
                });
            })
        }
    </script>
}